.element {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 282px;
}

@media screen and (max-width: 950px) {
    .element {
        max-width: 29.684vw;
    }
}

@media screen and (max-width: 550px) {
    .element {
        max-width: 88.125vw;
    }
}