.formAuth__register-button-login-bottom {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    min-width: 358px;
    min-height: 17px;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    background-color: inherit;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    margin: 15px auto 0px;
}

.formAuth__register-button-login-bottom:hover {
    opacity: 0.8;
    cursor: pointer;
}