.header__button-login {
    color: #A9A9A9;
    float: right;
    margin-top: 6px;
    display: block;
    background: inherit;
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.header__button-login:hover {
    opacity: 0.6;
    cursor: pointer;
}