.formAuth__button-submit {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    min-width: 358px;
    min-height: 50px;
    border: none;
    border-radius: 2px;
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 216px auto 0px;
}

.formAuth__button-submit:hover {
    opacity: 0.8;
    cursor: pointer;
}