.popup__input-error {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    opacity: 0;
    left: 0;
    transition: opacity 0.3s;
    padding-top: 5px;
    border-top: 1px solid #FF0000;
}